.todo {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;

  .deleteBtn {
    cursor: pointer;
  }

  .createBtn {
    background: silver;
    cursor: pointer;
    height: 20px;
    width: 80px;
  }

  .fieldLabel {
    max-width: 200px;
  }

  .colorSymbol {
    display: inline-block;
    width: 15px;
    height: 15px;
  }

}
