.app-title {
  color: red;
  &:hover {
    color: blue;
  }
}
/**
 * React Loader
 *
 * From Dimension package
 * Note that the parent element must have either a height or a width, or nothing will be rendered
 */
.loader-container {
  width: 100%;
  height: 50px;
}
.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
.disabled, .disabled a {
  color: #808080;
  cursor: not-allowed;
  pointer-events: none;
}
/**
 * React Modal
 */
.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}
.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}
.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}
.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}
