<html>
<head>
  <meta charset="utf-8" />
    <title>{{ .title }}</title>
    {{if .__DEV__}}
    <link href="/static/build/styles.css" rel="stylesheet" type="text/css">
    {{else}}
    <link href="/static/dist/styles.min.css" rel="stylesheet" type="text/css">
    {{end}}
    <link href="/static/dist/loaders.min.css" rel="stylesheet" type="text/css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.0.4/redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/4.0.0/react-redux.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/history/1.12.6/History.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router/1.0.0/ReactRouter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-modal/0.6.1/react-modal.min.js"></script>

    <script src="/static/dist/ReactDnD.min.js"></script>
    <script src="/static/dist/ReactDnDHTML5Backend.min.js"></script>
    <script src="/static/dist/redux-logger.min.js"></script>
</head>
<body>
  <div id="content"></div>
  <div id="modal"></div>
  <script type="text/javascript">
    window.__DEV__= {{ .__DEV__ }};
    window.__TODO_API_ENDPOINT__= {{ .__TODO_API_ENDPOINT__ }};
  </script>
  {{if .__DEV__}}
  <script src="/static/build/bundle.js"></script>
  {{else}}
  <script src="/static/dist/bundle.min.js"></script>
  {{end}}
</body>
</html>
