* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #f1f1f1;
  color: #4d4d4d;
}

:placeholder-shown {
  color: #e6e6e6;
  font-style: italic;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
}

/* Firefox 18- */
:-moz-placeholder {
  color: #e6e6e6;
  opacity: 1;
  font-style: italic;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: #e6e6e6;
  opacity: 1;
  font-style: italic;
}

/* IE 10+ */
:-ms-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
}

header {
  h1 {
    margin: 0;
    color: #F97F85;
    font-size: 80px;
    width: 100%;
    text-align: center;
  }
}

section {
  margin: 20px;
  a {
    color: #b83f45;
  }
}

footer {
  color: #7F7F7F;
  width: 100%;
  text-align: center;
  a {
    color: #666666;
  }
}

:global(#container) {
  width: 100%;

  @media (min-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.error {
  color: #a94442;
}
